body{
    font-size: 16px;
    line-height: 1.2em;
}

html, body{
    height: 100vh;
}

.material-icons{
    font-size: 2em;
}

.animated{
    animation-duration: .3s;
}

.fa{
    cursor: pointer;
}

#container{
    width: 100%;
}